.list :nth-last-child(-n+3)::first-letter{
    font: bolder;
    background-color: rgb(243, 238, 238);
    font-size: 50px;
    color:black
}
a[href="#"]{
    color: brown;
}

select > option{
    background-color:grey;
}
article summary{
    font-size: 60px;
}

.siblings + p {
    font-family: cursive;
}